Repository LEGO/pulumi-link-mobility-provider: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

semantic
  package-lock.json
  package.json
Due: prettier --write

example project
  example/.gitignore
  example/Pulumi.yaml
  example/index.ts
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  src/link-mobility.provider.ts
  src/link-mobiliy-partner-gate-destination.resource.ts
  src/models/index.ts
Due: prettier --write, eslint

order
  example/package.json
Due: prettier --write

user pass
  example/index.ts
Due: prettier --write, eslint

wip: initial project (#1)
  .eslintrc
  .github/workflows/pull-request.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  CODEOWNERS
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  example/.gitignore
  example/Pulumi.yaml
  example/index.ts
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  package-lock.json
  package.json
  src/index.ts
  src/link-mobility.provider.ts
  src/link-mobility.service.ts
  src/link-mobiliy-partner-gate-destination.resource.ts
  src/models/index.ts
  src/models/link-mobility-gate-destination.ts
  src/models/link-mobility-gate.ts
  tsconfig.json
Due: prettier --write, eslint

tests and misc
  README.md
  example/Pulumi.test.yaml
  example/index.ts
  package.json
  src/link-mobility.provider.ts
  src/link-mobility.service.ts
  src/tests/link-mobility.service.test.ts
  src/utils/index.ts
  src/utils/is-partner-gate-destination-inputs.ts
Due: prettier --write, eslint

tests for service
  src/tests/link-mobility.service.test.ts
Due: prettier --write, eslint

wip: tests for provider
  src/tests/link-mobility.provider.test.ts
  src/tests/link-mobility.service.test.ts
Due: prettier --write, eslint

docs and fluff
  CONTRIBUTING.md
  README.md
Due: prettier --write

strings
  README.md
Due: prettier --write

tests: provider unit tests for all cases
  src/index.ts
  src/link-mobility.provider.ts
  src/link-mobility.service.ts
  src/link-mobiliy-gate-destination.resource.ts
  src/link-mobiliy-partner-gate-destination.resource.ts
  src/tests/link-mobility.provider.test.ts
  src/tests/link-mobility.service.test.ts
  src/utils/index.ts
  src/utils/is-partner-gate-destination-inputs.ts
Due: prettier --write, eslint

tests ci
  .github/workflows/ci.yml
Due: none

url not ending with slash
  src/link-mobility.service.ts
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

comment
  src/link-mobility.service.ts
Due: prettier --write, eslint

outputs directly
  src/link-mobility.provider.ts
Due: prettier --write, eslint

fancy caution message
  README.md
Due: prettier --write

mockimpl but shorter
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

removed unused getallgates and tests
  src/link-mobility.service.ts
  src/tests/link-mobility.service.test.ts
Due: prettier --write, eslint

more test cases for regex
  src/link-mobility.service.ts
  src/tests/link-mobility.provider.test.ts
  src/tests/link-mobility.service.test.ts
Due: prettier --write, eslint

test: unit tests and misc (#4)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  example/Pulumi.test.yaml
  example/index.ts
  package.json
  src/index.ts
  src/link-mobility.provider.ts
  src/link-mobility.service.ts
  src/link-mobiliy-gate-destination.resource.ts
  src/link-mobiliy-partner-gate-destination.resource.ts
  src/tests/link-mobility.provider.test.ts
  src/tests/link-mobility.service.test.ts
Due: prettier --write, eslint

feat: semantic release, yarn and fluff
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  example/index.ts
  package-lock.json
  package.json
  release.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

ci: I guess this would be more appropriate
  .github/workflows/pull-request.yml
Due: none

feat: semantic release (#6)
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  example/index.ts
  package-lock.json
  package.json
  release.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  12ea51d0a449cd3172b02a4e9360b18b70bf8834
Due: none

fix: package
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: package (#8)
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a0a146e589041691109371b2b2ec2ca8b6bc37b8
Due: none

fix: regex for url should work a little better now
  .eslintrc
  release.config.js
  src/link-mobility.service.ts
Due: prettier --write, eslint

chore: tests
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

ci: more test cases
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

more cases
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

apparently we used it instead of test, in the other places
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

fix: regex for url should work a little better now (#9)
  .eslintrc
  release.config.js
  src/link-mobility.service.ts
  src/tests/link-mobility.provider.test.ts
Due: prettier --write, eslint

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  96e49b24d88414478b0748be038f1aa5358d99b2
Due: none

fix(ci): yarn cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): yarn cache (#10)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yaml})
  eslint: any of: *.ts
